<Configuration status="WARN" strict="true" monitorInterval="30" verbose="false">
	<Appenders>
		<Appender name="CONSOLE" type="Console">
			<Layout type="PatternLayout" pattern="%p\t%t - %C{1}.%M(%L) | %m%n" />
		</Appender>
	</Appenders>
	<Loggers>
		<Logger name="de.hsheilbronn.mi.utils.crypto" level="DEBUG" />
	
		<Root level="WARN">
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>
</Configuration>